
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    Junior full-stack developer.
</p>
<p>
    Beginner in <b>Java</b> and <b>C#</b> / <b>Dot.NET</b> programming.
</p>
<p>
    Able to code basic websites with <b>HTML</b>, <b>CSS</b> and <b>Javascript</b>.
</p>