
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<p><a href="https://kiwiirc.com/nextclient/irc.libera.chat/">irc.libera.chat</a> - Populus</p>
<p><a href="https://webchat.quakenet.org/">irc.quakenet.org</a> - Populus</p>
<p>Email: <a href="mailto: emil.a.johansson@gmail.com">emil.a.johansson@gmail.com</a></p>

