@{

}
<div class="container">
    <div class="wrapper">
        <form asp-action="GuessIAR" asp-controller="GuessController">
            <input type="number" name="guess" value="" placeholder="Enter your guess." min="0" max="100" />
            <input type="submit" />
            <p>
                @if (ViewBag.Msg != null)
                {
                    @ViewBag.Msg
                }
            </p>
        </form>
    </div>
</div>